<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <title>Jonathan Zavialov</title>
</head>
<body id="body">
    <script>
        window.onload=function(){
	        load()
        }
    </script>
    <div id="sidenav"></div>
    <div id="main">
        <div id="error">
            <div id = "errorWindow" class="window" style="margin: 32px; width: 250px">
                <div class="title-bar">
                  <div class="title-bar-text">
                    Jonathan Zavialov
                  </div>
          
                  <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button onclick="closeWindow('errorWindow')" aria-label="Close"></button>
                  </div>
                </div>
                <div class="window-body">
                  <p>You're Lost!<br>Click home to return home.</p>
                  <section class="field-row" style="justify-content: flex-end">
                    <button onclick="window.location.href ='/home'">Home</button>
                    <button onclick="closeWindow('error')">OK</button>
                  </section>
                </div>
              </div>
        </div>
    </div>
</body>
</html>
