<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bsod.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/windows.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{url_for('static', filename='js/pageMethods.js')}}"></script>
    <script src="{{url_for('static', filename='js/drag.js')}}"></script>
    <script src="{{url_for('static', filename='js/drawBox.js')}}"></script>
    <script src="{{url_for('static', filename='js/load.js')}}"></script>
    <script src="{{url_for('static', filename='js/rightClickMenu.js')}}"></script>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <title>Jonathan Zavialov</title>
</head>
<body id="body">
    <script>
        window.onload=function(){
	      render()
          initDraw()
          addIconProperties()
          rightClick()
          dragElement(document.getElementById("errorWindow"),32)
          throwError("<p>You're Lost!<br>Click home to return home.</p>","<a href=\"/home\"><button>Home</button></a>")
        }
    </script>
    <div id="sidenav"></div>
    <div id="main"></div>
</body>
</html>
