<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{url_for('static', filename='pageMethods.js')}}"></script>
    <script src="{{url_for('static', filename='load.js')}}"></script>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <title>Jonathan Zavialov</title>
</head>
<body id="body">
    <script>
        window.onload=function(){
	        load()
          addIconProperties()
          date()
        }
    </script>
    <div id="sidenav"></div>
    <div id="main">
      <h2>Jonathan Zavialov</h2>
        <hr>

        <div id="aboutme" class="window" style="margin: 32px; width: 500px">
            <div class="title-bar">
              <div class="title-bar-text">
                Welcome to my website!
              </div>
      
              <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button onclick="closeWindow('aboutme')" aria-label="Close"></button>
              </div>
            </div>
            <div class="window-body">
                <p style="font-size: 14px;">
                    I am a Full Stack Developer with a passion for Computer Science. 
                    I began learning how to code at a young age, when I was in 9th grade.
                    Since then I've learned a vast variety of skills within anything that
                    interests me including Python, Javascript, Java, TypeScript, ReactJS,
                    Flask, and more recently creating websites such as this one. I code almost
                    every day, jumping from project to project so I can learn something new 
                    every day. In my free time I enjoy playing games such as Valorant with 
                    my friends. My interests also include cryptography, cryptocurrency,
                    calculus, and personal finance. 
                </p>
              <section class="field-row" style="justify-content: flex-end">
                <button onclick="closeWindow('aboutme')">OK</button>
              </section>
            </div>
        </div>
        
        <div id="icon" class="recycle" style="transform: translate(10px);">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/recycle.png?raw=true">
          <P>Recycle Bin</P>
        </div>
        <div id="icon" class="computer">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/computer.png?raw=true">
          <P>My Computer</P>
        </div>
        <div id="icon" class="docs">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/documents.png?raw=true">
          <P>My Documents</P>
        </div>

        <div class="window" id="taskbar">
          <div class="window-body" id="taskbarBody">
            <button id="startButton"><img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/windows_logo.png?raw=true"><p>Start</p></button>
            <button id="time"><img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/clock.png?raw=true"><p id="ticker"></p></button>
          </div>
        </div>
    </div>
</body>
</html>
