<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bsod.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/windows.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/clock.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{url_for('static', filename='js/drag.js')}}"></script>
    <script src="{{url_for('static', filename='js/pageMethods.js')}}"></script>
    <script src="{{url_for('static', filename='js/load.js')}}"></script>
    <script src="{{url_for('static', filename='js/drawBox.js')}}"></script>
    <script src="{{url_for('static', filename='js/rightClickMenu.js')}}"></script>
    <script src="{{url_for('static', filename='js/startMenu.js')}}"></script>
    <script src="{{url_for('static', filename='js/calculator.js')}}"></script>
    <script src="{{url_for('static', filename='js/nft.js')}}"></script>
    <script src="{{url_for('static', filename='js/icons.js')}}"></script>
    <script src="{{url_for('static', filename='js/calendar.js')}}"></script>
    <script src="{{url_for('static', filename='js/email.js')}}"></script>
    <script src="{{url_for('static', filename='js/msdos.js')}}"></script>
    <script src="{{url_for('static', filename='js/projects.js')}}"></script>
    <script src="{{url_for('static', filename='js/snake.js')}}"></script>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <title>Jonathan Zavialov</title>
</head>
<body id="body">
    <script>
        window.onload=async function(){
          render()
          addIconProperties()
          date()
          initDraw(document.getElementById("main"))
          rightClick()
          arangeIcons()
          initIcons()
          openIntroWindow()
          if("{{ app }}" != "") openAppOnStart("{{ app }}")
        }
    </script>
    <div id="sidenav"></div>
    <div id="main">
      <h2>Jonathan Zavialov</h2>
      <hr id="mainhr">
    
      <div id="icons">
        <div id="icon" class="recycle">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/recycle.png?raw=true">
          <p>Recycle Bin</p>
        </div>
        <div id="icon" class="computer">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/computer.png?raw=true">
          <p>My Computer</p>
        </div>
        <div id="icon" class="docs">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/documents.png?raw=true">
          <p>My Documents</p>
        </div>
        <div id="icon" class="apps">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/appsdir.png?raw=true">
          <p>My Apps</p>
        </div>
        <div id="icon" class="calculator">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/calculator.png?raw=true">
          <p>Calculator</p>
        </div>
        <div id="icon" class="nft">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/nftview.png?raw=true">
          <p>My NFTs</p>
        </div>
        <div id="icon" class="txtEditor">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/txt.png?raw=true">
          <p style="margin-left: 10px;">Text Editor</p>
        </div>
        <div id="icon" class="email">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/outlook.png?raw=true">
          <p>Outlook Express</p>
        </div>
        <div id="icon" class="jonpng">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/image.png?raw=true" style="width: 48px">
          <p>jon.png</p>
        </div>
        <div id="icon" class="credits">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/txt.png?raw=true">
          <p style="transform: translate(7px);">credits.txt</p>
        </div>
        <div id="icon" class="resume">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/credits.png?raw=true">
          <p>resume.pdf</p>
        </div>
        <div id="icon" class = "calendar">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/calendar.png?raw=true">
          <p>Calendar</p>
        </div>
        <div id="icon" class = "msdos">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/msdos.png?raw=true">
          <p>MS-DOS Prompt</p>
        </div>
        <div id="icon" class = "projects">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/myprojects.png?raw=true">
          <p>My Projects</p>
        </div>
        <div id="icon" class = "snake">
          <img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/snake.png?raw=true">
          <p>Snake</p>
        </div>
      </div>

      <div class="window" id="taskbar">
        <div class="window-body" id="taskbarBody">
          <button id="startButton" onclick="startMenu()"><img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/windows_logo.png?raw=true"><p><b>Start</b></p></button>
          <button id="time"><img src="https://github.com/JonZavialov/portfolio2/blob/main/assets/images/clock.png?raw=true"><p id="ticker"></p></button>
          <hr id="taskbarDivider">
        </div>
      </div>
    </div>
</body>
</html>