#sidenav{
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    display: flex;
    align-items: stretch;
    z-index: 98 !important;
}

#sidenav-button{
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px;
    z-index: 99 !important;
}

#sidenav .tree-view{
    overflow-y: scroll;
    width: 100%;
    font-size:15px
}

body{
    background-color: #C0C0C0;
    height:100%;
    width:100%;
    overflow-y: scroll;
}

#bootScreen{
    height: 100vh;
    background-color: black;
}

a{
    color: black
}

#main{
    width: 100%;
    height: fit-content;
    transform: translate(200px);
    padding-left: 35px;
    overflow-y: scroll;
}

#main h2{
    margin-top: 10px;
    font-size: 60px;
    margin-bottom: 20px;
}

#main hr{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 600px;
    margin-left: 0;
    background-color: #A4A4A4;
    height:2px;
    border-width:0;
}

#error{
    position: absolute;
    top: 45%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}