#sidenav{
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    display: flex;
    align-items: stretch;
    z-index: 98 !important;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title-bar-controls button[aria-label=Close] {
    margin-left: 0 !important;
}

#sidenav-button{
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px;
    z-index: 99 !important;
}

#sidenav .tree-view{
    overflow-y: scroll;
    width: 100%;
    font-size:15px
}

body{
    background-color: #acacac;
    height:100%;
    margin: 0;
    width:100%;
    overflow-y: hidden;
}

a{
    color: black
}

#main{
    width: calc(100% - 225px);
    height: calc(101vh - 26px);
    transform: translate(216px);
    padding-left: 35px;
    background-color: #008080;
    margin-top: 8px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#main h2{
    margin-top: 10px;
    font-size: 60px;
    margin-bottom: 15px;
}

#mainhr{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 600px;
    margin-left: 0;
    background-color: #A4A4A4;
    height:2px;
    border-width:0;
    overflow-x: clip;
}

#icon,#recycledIcon{
    width: fit-content;
    text-align: center;
    border-style: dotted;
    border-color: transparent;
    padding: 2px;
    border-width: 1px;
}

#icon{
    position: absolute;
}

#icon p{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Pixelated MS Sans Serif",Arial;
    color: white
}

#icon img{
    width: 48px;
}

#taskbar{
    width: calc(100% - 6px);
    transform: translate(-35px);
    bottom: 0;
    position: fixed;
    z-index: 100;
}

#startButton{
    width: fit-content;
    display: flex;
    padding: 0;
    padding-left: 3px;
    margin-right: 13px;
}

#startButton img{
    width: 25px;
    padding: 3px;
}

#taskbarBody{
    margin: 2px;
    width: 100%;
    display: flex;
}

#time{
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    transform: translate(-5px);
    height: 34px;
    padding: 0;
    width: 110px;
    float: right;
    position: fixed;
    right: 0;
}

#time img{
    float: left;
    width: 25px;
    padding-left: 7px;
    padding-bottom: 2px;
}

#ticker{
    margin: 0;
    padding-top: 6px;
}

.rectangle {
    border: 1px solid #0078D7;
    position: absolute;
    background: rgba(170, 204, 238, .3);
}

#rightClickMenu{
    position: absolute;
    z-index: 101;
    padding: 2px;
}

#menuItem{
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hoverHighlight:hover{
    background-color: #000079;
    color: white;
}

#startMenu{
    position: absolute;
    height: 325px;
    width: 200px;
    bottom:0 ;
    left: 0;
    transform: translate(0px,-44px);
    z-index: 100;
}

#startMenu .title-bar {
    transform: rotate(-90deg) translate(-153px, -153px);
    width: 319px;
}

#startMenu hr{
    width: 165px
}

#startMenuBody{
    margin-left: 25px;
    transform: translate(0px, -20px);
}

#startMenuPair{
    height: fit-content;
    width: fit-content;
    margin-top: 5px;
    display: inline-block;
    padding-right: 80px;
}

#startMenuPair img{
    float: left;
    width: 32px;
}

#startMenuPairText{
    float: right;
    margin-left: 5px;
}

#overlay {
    position: absolute;
}

#taskbarDivider{
    height: 21px;
    position: fixed;
    margin-left: 80px;
}

#taskbarItem{
    margin-right: 5px;
    padding-left: 3px;
    padding: 0;
    display: flex;
    padding-right: 5px;
}

#taskbarItem img{
    width: 25px;
    padding: 3px;
}

#taskbarItem p{
    margin-left: 3px;
}

#appColumn, #fileColumn,  #appColumn2{
    width: fit-content;
}

#icons{
    width: fit-content;
    display: flex;
}

#errorWindow{
    position: absolute;
    z-index: 100;
}

#errorWindowTxt{
    position: absolute;
    z-index: 100;
}

.credits {
    padding-right: 10px !important;
}