#credits p{
    font-size: 14px;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

#recycleBinBody{
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 250px;
    width: 500px;
}

#recycleBin .title-bar-text{
    display: flex;
}

#myComputerBody{
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 250px;
    width: 500px;
}

#myComputer .title-bar-text{
    display: flex;
}

#myComputer .driveFloppy{
    transform: translate(80px, -74px);
}

#myComputer #icon{
    margin: 0;
}

#myDocumentsBody{
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 250px;
    width: 500px;
}

#myDocuments .title-bar-text{
    display: flex;
}

#myDocuments .creditsDocs{
    transform: translate(80px, -74px);
}

#myDocuments #icon{
    margin: 0;
}

#aboutme{
    position: absolute;
    top: 45%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#txtEditor textarea{
    font-size: 14px;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 200px;
    width: 200px;
}

#calculator,#credits,#resume,#myComputer,#txtEditor,#myDocuments,#recycleBin{
    position: absolute;
    z-index: 99;
}

#resume iframe{
    width: 500px;
    height: 680px;
}

#calculatorDisplay{
    width: 95%;
    background-color: white;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    font-size: 14px;
    padding: 4px;
    text-align: right;
}

#calcBlankButton{
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    margin-bottom: 0px;
    width: 30px;
    height: 30px;
}

#clearButton{
    color: red;
    position: absolute;
    right: 0;
    margin-top: 10px;
    min-width: unset;
    min-height: unset;
    font-size: 15px;
    width: 70px;
    height: 30px;
}

#calcButtonRow{
    display: flex;
    position: relative;
    margin-top: 5px;
}

#calcButtonRowTop{
    display: flex;
    position: relative;
}

#calcButtonRow button, #equalsButton{
    min-width: unset;
    min-height: unset;
    font-size: 15px;
    width: 47px;
    height: 30px;
    margin-left: 5px;
    float: right;
}