@font-face {
    font-family: 'IBM VGA 8x16';
    src: url(WebPlus_IBM_VGA_8x16.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

#credits p{
    font-size: 14px;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

#myComputer .title-bar-text, #recycleBin .title-bar-text, #myApps .title-bar-text, #myDocuments .title-bar-text, #calendar .title-bar-text, #email .title-bar-text, #msdos .title-bar-text{
    display: flex;
}

#myDocumentsBody, #myAppsBody, #myComputerBody, #recyclebinBody{
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 250px;
    width: 500px;
}

#aboutme{
    position: absolute;
    margin-right: -50% !important;
    transform: translate(-50%, -50%);
    z-index: 99;
    margin: 32px; 
    width: 500px !important;
}

#txtEditor textarea{
    font-size: 14px;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 200px;
    width: 200px;
}

#calculator,#credits,#resume,#myComputer,#txtEditor,#myDocuments,#recycleBin,#myApps,#nfts,#jonpng,#calendar,#email, #msdos{
    position: absolute;
    z-index: 99;
}

#resume iframe{
    width: 500px;
    height: 680px;
}

#calculatorDisplay{
    width: 95%;
    background-color: white;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    font-size: 14px;
    padding: 4px;
    text-align: right;
}

#calcBlankButton{
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    margin-bottom: 0px;
    width: 30px;
    height: 30px;
}

#clearButton{
    color: red;
    position: absolute;
    right: 0;
    margin-top: 10px;
    min-width: unset;
    min-height: unset;
    font-size: 15px;
    width: 70px;
    height: 30px;
}

#calcButtonRow{
    display: flex;
    position: relative;
    margin-top: 5px;
}

#calcButtonRowTop{
    display: flex;
    position: relative;
}

#calcButtonRow button, #equalsButton{
    min-width: unset;
    min-height: unset;
    font-size: 15px;
    width: 47px;
    height: 30px;
    margin-left: 5px;
    float: right;
}

#nftItem img{
    width: 200px;
    margin: 3px;
}

#nftItem h3, #nftItem h5{
    margin: 5px;
}

#nftItem h5{
    font-size: 15px;
}

#nftItem p{
    margin-left: 3px;
    font-size: 12px;
}

#nfts .window-body{
    margin: 1px;
}

#nftItem{
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    margin-right: 3px;
}

#nftsbody{
    overflow-y: scroll;
    height: 600px;
}

#nfts p{
    margin-left: 5px;
    font-size: 13px;
}

#ethAddress:hover, #ethDomain:hover{
    color: lightblue
}

#wallet{
    display: flex;
}

#refreshButton{
    position: absolute;
    padding: 0;
    display: flex;
    transform: translate(232px);
}

#refreshButton img{
    width: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#refreshButton p{
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0px, 8px);
}

#recycledIcon p{
    color: black
}

#recycledIcon{
    margin-right: 20px;
    height: fit-content;
}

#recycleRow{
    display: flex;
}

#calendarBody{
    height: fit-content;
    width: fit-content;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    padding: 5px;
}

#calendarBody ul{
    list-style-type: none;
}

#yearSelector{
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    background-color: white;
    text-align: left;
    height: 24px;
}

#monthSelector {
    margin-right: 10px;
}

#yearUpButton, #yearDownButton{
    min-width: 0;
    min-height: 0;
    padding-left: 3px;
    padding-right: 3px;
}

#yearUpButton{
    transform: translate(-19px, -5px)
}

#yearDownButton{
    transform: translate(-38.5px, 7px)
}

#calendarDisplay{
    margin-top: 10px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    padding: 2px;
}

#dayDisplay {
    margin-top: 10px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    padding: 2px;
    width: 130px;
    height: 186px;
    float: right;
    margin-left: 10px;
    overflow-y: scroll;
}

#dayDisplay li{
    color: #2b2b2b;
    margin-left: 4px;
}

#weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

#weekdays li{
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

#days{
    padding: 10px 0;
    background: white;
    margin: 0;
}
  
#days li{
    list-style-type: none;
    display: inline-block;
    width: 14.2%;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 7px;
}

#calendarMainDisplay{
    display: flex;
}

#dayHeader {
    background: white;
    margin: 0;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px gray;
}

#dayHeader p{
    margin: 0;
}

#borderCover {
    position: absolute;
    width: 72px;
    height: 6px;
    background-color: silver;
    z-index: 101;
    transform: translate(1px, -4px);
}

#borderCoverVertical{
    position: absolute;
    width: 1px;
    height: 3px;
    background-color: white;
    z-index: 101;
    transform: translate(0px, -2px);
}

#borderCoverVertical2{
    position: absolute;
    width: 1px;
    height: 6px;
    background-color: #DFDFDF;
    z-index: 101;
    transform: translate(1px, -4px);
}

#msdos .window-body{
    background-color: black;
    color: #AAAAAA;
    margin: 0;
    font-family: 'IBM VGA 8x16';
    font-size: 15px;
    padding-left: 2px;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
}

#msdos p{
    margin: 0;
}

#msdos textarea{
    resize: none;
    margin: 0px;
    width: 100%;
    height: 15px;
    background-color: black;
    padding: 0;
    box-shadow: none;
    color: #AAAAAA;
    font-family: 'IBM VGA 8x16';
    font-size: 15px;
    overflow: hidden;
}

#workAreaInitial{
    display: flex;
}

#buttonsHeader{
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf
}

#email .window-body{
    margin: 2px
}

#outlookHeaderButton{
    width: fit-content;
    display: inline-block;
    text-align: center;
    margin: 5px
}

#outlookHeaderButton p{
    margin: 0;
    width: 50px;
    text-align: center;
}

#outlookHeaderButton img{
    width: 35px
}

#outlookHr1, #outlookHr2{
    height: 60px;
    position: fixed;
}

#outlookHr1{
    transform: translate(64px, -72px);
}

#outlookHr2{
    transform: translate(128px, -72px);
}