#credits p{
    font-size: 14px;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

#myComputer .title-bar-text, #recycleBin .title-bar-text, #myApps .title-bar-text, #myDocuments .title-bar-text{
    display: flex;
}

#myDocumentsBody, #myAppsBody, #myComputerBody, #recycleBinBody{
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 250px;
    width: 500px;
}

#aboutme{
    position: absolute;
    top: 45%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#txtEditor textarea{
    font-size: 14px;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    height: 200px;
    width: 200px;
}

#calculator,#credits,#resume,#myComputer,#txtEditor,#myDocuments,#recycleBin,#myApps,#nfts,#jonpng{
    position: absolute;
    z-index: 99;
}

#resume iframe{
    width: 500px;
    height: 680px;
}

#calculatorDisplay{
    width: 95%;
    background-color: white;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    font-size: 14px;
    padding: 4px;
    text-align: right;
}

#calcBlankButton{
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    margin-bottom: 0px;
    width: 30px;
    height: 30px;
}

#clearButton{
    color: red;
    position: absolute;
    right: 0;
    margin-top: 10px;
    min-width: unset;
    min-height: unset;
    font-size: 15px;
    width: 70px;
    height: 30px;
}

#calcButtonRow{
    display: flex;
    position: relative;
    margin-top: 5px;
}

#calcButtonRowTop{
    display: flex;
    position: relative;
}

#calcButtonRow button, #equalsButton{
    min-width: unset;
    min-height: unset;
    font-size: 15px;
    width: 47px;
    height: 30px;
    margin-left: 5px;
    float: right;
}

#nftItem img{
    width: 200px;
    margin: 3px;
}

#nftItem h3, #nftItem h5{
    margin: 5px;
}

#nftItem h5{
    font-size: 15px;
}

#nftItem p{
    margin-left: 3px;
    font-size: 12px;
}

#nfts .window-body{
    margin: 1px;
}

#nftItem{
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    margin-right: 3px;
}

#nftsbody{
    overflow-y: scroll;
    height: 600px;
}

#nfts p{
    margin-left: 5px;
    font-size: 13px;
}

#ethAddress:hover, #ethDomain:hover{
    color: lightblue
}

#wallet{
    display: flex;
}

#refreshButton{
    position: absolute;
    padding: 0;
    display: flex;
    transform: translate(232px);
}

#refreshButton img{
    width: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#refreshButton p{
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0px, 8px);
}